*.elf
*.hex
*.lss
*.map
*.sym
*.eep
*.o
*.lst
.dep
.anjuta*
*.swp
*.000
*~
tags
*.aux
*.blg
*.idx
*.lof
*.log
*.lot
*.nlo
*.toc
*.bbl
*.prep
session.vim
test-tx
test-shell
test-batman
.*
*.gdb
*.tmp
*.ilg
*.ind
*.bak
*.out
*.nav
*.snm
